@charset "utf-8";
/********************************************
*********************************************
   Project ===== 소니 알파
   FileName === product.css
   Date ======= 2013-06-25
   Last ======= 2012-00-00
*********************************************
********************************************/


.visualproduct{width: 100%; display:inline-block;padding-top:20px;}
.list_product{width:100%; display:inline-block}
.list_product h3{margin:25px 0;font-size:32px;font-weight:bold;color:#f05a23; display:block; font-family:'나눔고딕','NanumGothic',"돋움"}
.list_product ul {float:left;width:100%}
.list_product ul li{float:left;width:236px; height:260px;border:1px solid #e5e5e5;display:inline-block;text-align:center;background-color:#fff}
.list_product .bul_plus{ background-image:url(/webroot/images/common/bul_plus.png); height:18px; width:18px; display:inline}
.list_product .body li{height:230px;}
.list_product .list{ background-color:#fff; display:block}
.list_product .list li{height:256px; width:238px;}
.list_product .name{font-size:12px;color:#333; margin:0 0 5px 0; display:block; line-height:18px}
.list_product .name_sub{font-size:12px;color:#333; display:block; line-height:18px}
.list_product .title{margin:25px 0 10px 0;font-size:17px;height:18px; word-spacing:-4px;font-weight:bold;color:#f05a23; display:inline-block;font-family:"돋움",Arial, Helvetica, sans-serif}
.list_product .title img{ margin-left:8px;}
.list_product .product_none{background:url(/webroot/images/product/img_default.png); background-position:50% 50%; background-repeat:no-repeat;background-color:#fff}
.list_product .ico_plus{width:18px;height:18px;font-weight:bold;background-color:#f05a23;color:#fff;line-height:18px;padding-right:1px;margin-left:6px; display:inline-block; font-family:"돋움"}
/* body/acc 영역 */
.list_product .pro_dslt{float:left;width:476px;margin-right:8px}
.list_product .pro_nex{float:left;width:476px}
/* lens 영역 */
.list_product .lens_amt{float:left;width:714px;margin-right:8px}
.list_product .lens_emt{float:left;width:237px}
.list_product .wht{font-weight:bold;color:#fff}
.list_product .sizesm{font-weight:bold;font-size:17px}
.list_product .detail_list{clear:both;width:100%;background-color:#fff;height:47px;text-align:center;border:none;border-bottom:1px solid #e5e5e5;font-size:18px;font-weight:bold;padding-top:32px;letter-spacing:-1px; font-family:'나눔고딕','NanumGothic'}
.list_product .detail_list .on {padding:0 20px; border-right:1px solid #333;color:#f05a23;}
.list_product .detail_list .off {padding:0 20px; border-right:1px solid #333;color:#333;}
.list_product .detail_list .num{ font-size:14px;}
.list_product .list{ background-color:#fff; /* display:none */}
.list_product .detail_list span{ cursor:pointer}

#product_visual .product_visual {margin-bottom:35px; margin-top:20px;}
#product_visual .product_visual img {width:100%}


.ad_area{ width:100%; max-width:960px; min-width:640px; height:auto; clear:both; margin:0; padding:0;}
.ad_nav_area {padding:40px 0; background-color:#fff;}
#ad_nav{height:84px; margin:0 auto;}
#ad_nav .thum{ height:84px;width:100%;overflow: hidden;position: relative; cursor:pointer;}
#ad_nav .thum img{ width:116px; height:80px;}
#ad_nav .thum li{width:116px; height:80px;position:absolute;top:0;cursor:pointer;list-style:none;}
#ad_nav .thum .off{filter:alpha(opacity=60);opacity:0.6;z-index:10;border:2px solid #ccc;}
#ad_nav .thum .on{ border:2px solid #ed5b22; filter:alpha(opacity=100);opacity:1; z-index:100; }
.ad_next{width:15%; text-align:center; float:right; margin-top:-110px; cursor:pointer;}
.ad_prev{width:15%; text-align:center; float:left; margin-top:-110px;cursor:pointer;}
.ad_prev img{padding:50px;}
.ad_next img{padding:50px;}
#mainImg{}
#mainImg img{ width:100% ; max-width:960px; min-width:640px;}

/* product resize */
.visualproduct.mobile img{width:100%;}
.list_mobile{display:none;}
.list_mobile.mobile{display:block;}
.list_mobile .list_tab{width:100%;margin-top:20px;border-bottom:4px solid #f05a23;}
.list_mobile .list_tab ul {width:80%;overflow:hidden;margin:0 auto;}
.list_mobile .list_tab ul > li{width:49%;height:60px;float:left;list-style:none;}
.list_mobile .list_tab ul > li:first-child{margin-right:2%;}
.list_mobile .list_tab ul > li.on{background-color:#f05a23;}
.list_mobile .list_tab ul > li.off{background-color:#373737;}
.list_mobile .list_tab ul > li > a{display:block;text-align:center;height:60px;line-height:60px;color:#fff;font-family:'나눔고딕','NanumGothic'"돋움";font-size:30px;}
.list_mobile .list_product_m{width:100%;background-color:#fff;}
.list_mobile .list_product_m ul{overflow:hidden;}
.list_mobile .list_product_m ul > li{width:50%;height:372px;float:left;list-style:none;border-bottom:2px solid #e5e5e5;}
.list_mobile .list_product_m ul > li > a{display:block;margin-top:22px;text-align:center;color:#000;font-family:'나눔고딕','NanumGothic'"돋움";font-size:24px;}
.list_mobile .list_product_m ul > li > a > span{width:234px;line-height:100%;margin:0 auto;display:block;margin-top:4px;}
.list_product.mobile{display:none;}









